.tableUser{
    width: 90%;
    margin-top: 7%;
}

.tableUser div{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.tableUser label{
    display: block;
    width: 12%;
    text-align: right;
    margin-right: 10px;
}

.tableUser input{
    display: block;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}

.tableUser select{
    display: block;
    width: 72.3%;
    padding: 10px;
    border-radius: 10px;
}

.buttonCreateUser {
    cursor: pointer;
    margin: 0 auto;
    width: 114px;
    height: 40px;
    border: 0 transparent;
    border-radius: 5px;
    background: #282828;
    color: white;
}

.modalBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.modalButtons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.buttonYes {
    background: #282828;
    color: white;
    border: 2px solid #282828;
    cursor: pointer;
    padding: 10px 19px;
    font-size: 20px;
    border-radius: 5px;
    transition: 500ms;
}

.buttonNop {
    background: transparent;
    color: black;
    border: 2px solid #282828;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    transition: 500ms;
}

.buttonYes:hover {
    background: transparent !important;
    color: black;
    border: 2px solid #282828;
    transition: 500ms;
}

.buttonNop:hover {
    background: #282828 !important;
    color: white;
    border: 2px solid #282828;
    cursor: pointer;
    transition: 500ms;
}

.successMessage {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 20px;
    z-index: 999;
    width: 300px;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    animation: fadeInOut 3s ease;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}